
html, body {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

body {
    background-color: #ffffff;
    font-family: 'Raleway', serif;
    font-size: 0.9em;
}

.content {
  min-height: 100%;
}

p {
    font-size: 100%;
}

/**********************/
/* styling by section */
/**********************/

#top {
    background-color:black;
    height: 3em;
    position: fixed;
    top: 0px;
    width: 100%;
	z-index: 1;
}

#banner {
    color: white;
    height: 1em;
    width: 100%;
	  display: block;
	  float: left;
}

#banner > h2 {
  font-family: 'Montserrat', sans-serif;
  margin-top: -1.5em;
  margin-left: 4em;
  max-width: 960px;
  text-align: left;
}

#banner > img{
	margin-left: 2.5em;
	padding-top: 0.3em;
}

#nav_bar {
  font-family: 'Montserrat', sans-serif;
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
	float: right;
}

ul {
  list-style-type: none;
  margin: 0;
	padding-right: 10em;
}

li {
  float: left;
	margin-right: 2em;
  text-align: center;
	color: white;
}

li a{
  display: block;
  text-decoration: none;
  color: white;
}

li a:hover {
  color: beige;
}

/** large image **/
#hero {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    margin-top: 3em;
}

#hero > img {
    width: 100%;
}

#use_bar {
  left: 0px;
  bottom: 0px;
  height: 150px;
  width: 100%;
  background-color: #BF2C16;
  text-align: center;
}

#credits {
  background-color: black;
  left: 0px;
  bottom: 0px;
  height: 50px;
  width: 100%;
  text-align: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

#credits p {
  margin-top: 0px;
  padding-top: 15px;
}

.soc {
  display: inline-table;
}

/**********************/
/* footer icon styling*/
/**********************/

@font-face {
    font-family: 'si';
    src: url('social_icons/socicon.eot');
    src: url('social_icons/socicon.eot?#iefix') format('embedded-opentype'),
         url('social_icons/socicon.woff') format('woff'),
         url('social_icons/socicon.ttf') format('truetype'),
         url('social_icons/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(styles/social_icons/socicon.svg) format(svg);
    }
}

.footStyle {
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.soc {
    overflow:hidden;
    margin:0; padding:0;
    list-style:none;
    top: 50%;
    padding-top: 30px;
    padding-bottom: 10px;

}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;

    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    margin-right: 35px;
    color: #ffffff;
    background-color: none;
}

.soc a:hover {
    z-index: 2;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.soc-icon-last{
    margin:0 !important;
}

.soc-twitter {
    background-color: #4da7de;
}
.soc-twitter:before {
    content:'\e040';
}
.soc-facebook {
    background-color: #3e5b98;
}
.soc-facebook:before {
    content:'\e041';
}
.soc-flickr {
    background-color: #1e1e1b;
}
.soc-flickr:before {
    content:'\e055';
}
.soc-youtube {
    background-color: #e02a20;
}
.soc-youtube:before {
    content:'\e051';
}
.soc-mail {
    background-color: #000000;
}
.soc-mail:before {
    content:'\e01f';
}
